div {
  text-align: center;
}
.App {
  position: relative;
  left: 20px;
  top: 10px;
  background-color: silver;
  width: 220px;
  height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px;
}

img {
  position: relative;
  bottom: 40px;
  right: 4px;
  border-radius: 30px;
  box-shadow: black 1px 2px 15px;
  width: 230px;
}

span {
  position: relative;
  bottom: 30px;
  font-size: 15px;
}

h1 {
  position: relative;
  bottom: 30px;
  font-size: 25px;
}

span.a {
  position: relative;
  top: 20px;
}

.b{
  position: relative;
  top: 40px;
}

.c {
  position: relative;
  top: 50px;
}
.d {
  position: relative;
  top: 60px;
}




